@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,500&family=Montserrat:wght@300&family=Raleway:wght@500&display=swap');

body {
	background-color: $quinary;
    color: $primary;
    font-family: $primary-font;

    h1 {
        font-size: $primary-font-size;
        font-weight: $tertiary-font-weight;
        font-style: italic;
    }

    h2 {
        font-size: $secondary-font-size;
        font-weight: $primary-font-weight;
    }

    h3 {
        font-size: $tertiary-font-size;
        font-weight: $secondary-font-weight;
    }

    p {
        font-family: $secondary-font;
        font-size: $tertiary-font-size;
        font-weight: $secondary-font-weight;
    }
}
